@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

.badge {
    padding: 2px 6px;
    vertical-align: bottom;
}

.row
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.b
{
    border: red 1px solid;
}

.b2
{
    border: blue 1px solid;
}

.b3
{
    border: green 1px solid;
}

a, a:hover, a:active, a:visited, a:link
{
    text-decoration: none;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    
}

.material-icons, .icon-text 
{
    vertical-align: middle;
    font-size: 22px;
}

.header
{
    background-color: #f7f7f7;
    color: #b9b9b9;
    padding: 5px 80px 5px 80px;
    z-index: 10;
    font-size: 16px;
}

.header a
{
    color: #b9b9b9;
}

.menu-mobile
{
    display: none;
}

.menu
{
    background-color: #3498db;
    padding: 18px 80px 12px 80px;    
}

.menu img
{
    height: 60px;
    padding-right: 0px;
}

.menu ul
{
    display: inline;
}

.menu li
{
    color: white; 
    list-style: none;
    display: inline;
    text-align: center;
    padding: 30px 15px 30px 15px;
    text-transform: uppercase;

}

.menu li:hover
{
    /*border-bottom: white 4px solid;*/
}


.menu li a
{
    color: white;
    font-size: 14px;
}

.dropdown-menu>li
{
}

.dropdown-menu>li>a
{
    color: #3498db;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
}

.corpo
{
    background-image: url("../img/capa.png");
    background-color: #fcfcfc;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-left: 40px;
    padding: 100px 100px 10px 100px;
    
}

.content
{
    background-color: white;
    /*min-height: 800px;*/
    -webkit-box-shadow: 1px 0px 11px 2px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 0px 11px 2px rgba(0,0,0,0.21);
    box-shadow: 1px 0px 11px 2px rgba(0,0,0,0.21);
    padding-bottom: 20px;
}

.content-menu
{
    padding: 30px 0px 30px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    text-align: left;

}


.content-menu li
{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

.content-menu a:hover
{
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a:hover
{
    opacity: 0.8 !important;
    transition: opacity .25s ease-in-out !important;
    -moz-transition: opacity .25s ease-in-out !important;
    -webkit-transition: opacity .25s ease-in-out !important;
}


.content-slider
{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.nossas-atracoes
{
    display: none;
}

.nossas-atracoes h2
{
    color: #f39c12;
    text-transform: uppercase;
    padding: 50px;
    font-weight: bold;
    padding-bottom: 10px !important;
}

.atracoes-fotos
{
    padding: 0 30px 0 30px;
    /*padding: 0 0px 0 0px;*/
}

.atracoes-caption
{
    color: white;
    text-align: center;
    margin-top: -40px;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 1);
}

.depoimentos
{
    padding: 50px;
    padding-right: 0px;
    padding-left: 30px;
}

.depoimentos h2
{
    color: #1abc9c;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px !important;
    padding-left: 25px;
}

.btn-depoimentos, .btn-depoimentos:hover 
{
    background-color: #1abc9c;
    border: #1abc9c 1px solid;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btn-fotos, .btn-fotos:hover 
{
    background-color: #9b59b6;
    border: #9b59b6 1px solid;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btn-noticias, .btn-noticias:hover 
{
    background-color: #00CC6B;
    border: #00CC6B 1px solid;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}



.newsletter
{
    background-image: url("../img/news.png");
    background-color: #fcfcfc;
    background-size: 100%;
    background-repeat: no-repeat;
    /*height: 283px;*/
    height: 200px;
    padding: 130px 200px 130px 200px;
    
}


.newsletter input
{
    background-color: white;
    opacity: 0.5;
    border: 0;
}

.newsletter form
{
    margin: auto;
}

.btn-enviar
{
    background-color: #27ae60;
    color: white;
}


.noticias
{
    padding: 50px;
    padding-bottom: 30px;
}

.noticias h2
{
    color: #00CC6B;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px !important;
}


.montesua-viagem
{
    padding: 50px;
    padding-bottom: 130px;
    padding-top: 30px;
}

.montesua-viagem h2
{
    color: #0098DE;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px !important;
}

.montesua-viagem label
{
    color: black;
    opacity: 0.7;
    font-size: 14px !important;
    text-transform: uppercase;
}


.fotos
{
    padding: 35px;
    padding-top: 30px;
}

.fotos h2
{
    color: #0098DE;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px !important;
}

.fotos .col-md-4
{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.fotos .item
{
    width: 100%;
    height: 100%;
}

.fotos img
{
    float: left;
}

.btn-fotos, .btn-fotos:hover 
{
    background-color: #0098DE;
    border: #0098DE 1px solid;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.ler-mais, .ler-mais:hover
{
    font-size: small;
    color: black;
    text-decoration: none;
}

.agenda
{
    padding: 35px;
    padding-top: 0px;
}

.agenda h1
{
    padding-left: 15px;
}

.agenda h2
{
    color: #0098DE;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px !important;
}


.logos
{
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.logos .parceiros
{
    color: #777;
    padding-top: 30px;
}

.facebook
{
    text-align: center;
}

.cadastre-seu-evento
{
    color: #777;
    padding: 20px;
    padding-left: 100px;
    
}

.footer
{
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer a
{
    color: white;
}

.footer img
{
    padding-top: 10px;
    width: 130px;
}

.footer .row
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.footer .item
{
    /*padding-top: 15px;*/
}

.footer li
{
    list-style-type: none;
    display: inline;
}


.social
{
    display: inline;
    padding-left: 20px;
}

.recomend
{
    color: #888888;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #eee 1px solid;
}

.no-border
{
    border-bottom: #eee 0px solid;
}

.recomend-mais
{
    padding-top: 10px;
}

.recomend img
{
    width: 100%;
    height: 100%;
    border-right: #1abc9c 6px solid;
}


.recomend-img {
    position: relative;
    width: 250px;
    height: 100px;
    padding: 0px;
    background: #1ABC9C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.recomend-img:after {
    content: "";
    position: absolute;
    top: 40px;
    right: -15;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent #1ABC9C;
    display: block;
    width: 0;
    z-index: 1;
}


.recomend-nome
{
    color: #1abc9c;
    display: block;
}

.recomend-sobre
{
    color: #1abc9c;
    
}

.recomend-txt
{
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding-top: 5px;
    /*text-transform: uppercase;*/
    text-align: justify;
}


.list-group-item
{
    text-transform: uppercase;
    opacity: 0.9;
}


.thumbnail
{
    margin-bottom: 10px;
}

.thumbnail .caption
{
    font-size: 10px;
    font-weight: normal;
    margin-bottom: -7px !important;
}

.thumbnail .caption h3
{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.thumbnail .caption p
{
    margin-bottom: 0px;
}

.thumbnail img
{

}

.page-header
{
    margin-top: 0px;
}

.page-header h1
{
    margin-top: 5px;
}

.descricao-item
{
    font-size: 16px;
    font-weight: normal;
    padding-right: 20px;
    text-align: justify;
}

.mapa-item
{
    padding: 0 20px 30px 20px;
}

.flexslider
{
    margin-bottom: 0px;
    /*border: 4px solid #fff;*/
    /*border: 0px solid #fff;*/
    
}

.lista-cidades li
{
    border-radius: 0px !important;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-color: #eee;

}

.lista-cidades a
{
    color: #666666;
}

.lista-cidades h4
{
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    opacity: 0.65;
}

.lista-subcategorias li
{
    color: #aaa;

}

.post-content
{
    padding-right: 70px;
    text-align: justify;
    padding-bottom: 20px;
}

.post-content p
{
    font-weight: normal;
}

.post-content img
{
    margin: auto auto;
}


.agenda
{
    font-weight: normal;
}

.panel-heading
{
    background-color: #3498db !important; 
    border-color: none !important;
    border: #3498db 1px solid !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 0px !important;
}

.panel
{
    border-radius: 0px !important;
}

iframe
{
    /*pointer-events: none;*/
}

.breadcrumb
{
    background-color: #efefef;
    margin-right: 15px;
    font-weight: normal;
    /*padding-left: 3px;*/
}

.breadcrumb li a
{
    color: black;
}

.breadcrumb>.active
{
    color: #999;
}

.thumb-item
{

    padding-right: 10px;
    padding-left: 0px;
}

.thumb-item p
{
    text-align: right;
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .thumb-item .thumbnail img {
        height: 26vw !important;
    }
}

@media screen and (max-width: 600px) {
    .thumb-item .thumbnail img {
        height: 38vw !important;
    }
}


.badge
{
    background-color: #3498DB;
}

.page-header
{
    margin-bottom: 0px;
    border-bottom: none;
}

.item-txt
{
    text-transform: uppercase;
    position: absolute;
    z-index: 100;
    bottom: 8%;
    left: 3%;
    color: white;
    font-size: 34px;
    border-left: #ff8100 4px solid;
    padding-left: 10px;
    padding-right: 30px;
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 1);
    text-align: left;
}

.flex-direction-nav a:before
{
    /*color: #f39c12;*/
    color: white;
}
.flex-direction-nav a
{
    opacity: 1 !important; 
       
}

.flex-direction-nav .flex-next 
{
    right: 10px;
    text-align: right;
}

.flex-direction-nav .flex-prev {
    left: 10px;
}


.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) 
{
    
      .form-inline .form-control 
      {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
      
      .form-inline .form-group 
      {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }
}


/* Medium devices (desktops, 992px and up) 992 */
@media (max-width: 1100px)
{
    .corpo
    {
        padding: 40px 40px 30px 40px;
    }
    
    .noticia-img
    {
        padding-top: 10px;
        padding-left: 0px;
    }
    
    .noticia-corpo
    {
        padding-left: 10px !important;
        text-align: justify;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) 
{
    .header
    {
        display: none;
    }
    
    .corpo
    {
        padding: 0px 0px 0px 0px !important;
    }
    
    .row
    {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .content-menu
    {
        padding: 20px 10px 10px 20px;
    }
    

    .nossas-atracoes h2
    {
        padding: 5px;
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px !important;
    }
    
    .depoimentos h2
    {
        color: #1abc9c;
        font-size: 20px;
        padding-bottom: 10px !important;
        padding: 5px;
        text-align: center;
    }
    
    .newsletter
    {
        display: none;
    }
    
    .menu
    {
        display: none;
    }
    
    .menu-mobile
    {
        display: block;
    }
    
    .navbar
    {
        margin-bottom: 0px;
        border: #3498db 1px solid !important;
        
    }
    
    .navbar-brand
    {
        padding: 0px;
        padding-left: 20px;
    }
    
    .navbar-header, .navbar-collapse, .navbar-header a, .navbar-collapse a 
    { 
        background-color: #3498db !important;
        border: #3498db 1px solid !important;
        color: white !important;
    }

    .item-txt
    {
        font-size: 20px;
    }

    .montesua-viagem
    {
        padding: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .montesua-viagem label
    {
        font-weight: normal;
    }

    .cadastre-seu-evento
    {
        padding: 20px;
    }

    .footer-logo
    {
        text-align: left;
    }

    .content-slider
    {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-default
    {
        height: auto;
        padding-left: 0px;
    }

    .content-menu
    {
        font-size: 14px;
    }

    .content-menu li
    {
        padding-top: 10px;
    }

}
